[Unit]
Description=Check AWS SSO freshness every 15 minutes

[Timer]
OnStartupSec=2min
OnCalendar=*:00/15
Persistent=true

[Install]
WantedBy=timers.target
